/* CV */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#main {
    background-color: grey;
}
/* Container */
.CV {
    width: 900px;
    height: 673px;
    background: white;
    margin: 25px auto 0px;
    overflow: hidden;
    padding: 30px 50px;
}
/* Header */
.header {
    text-align: center;
}
#CV-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
#page-title {
    text-align: left;
    margin-top: 18px;
    font-size: 14px;
    border-bottom: 2px solid black;
    padding: 3px;
    display: block;
    font-weight: bold;
}
/* Content */
.CV p {
    font-size: 12px;
}
.CV ul {
    list-style: disc;
    display: block;
    line-height: 15px;
    font-size: 12px;
}
.CV h2 {
    margin-right: 4px;
}
::marker {
    font-size: 20px;
}
.content-title {
    display: flex;
    margin: 7px 0;
    font-weight: bold;
}
.date {
    margin-left: auto;
}
#company {
    margin-left: 4px;
}

/* Footer */
#education {
    border-bottom: 2px solid black;
    padding: 7px 0;
    margin-top: 7px;
    font-weight: bold;
}
#footer {
    font-weight: bold;
    margin-top: 8px;
    font-size: 12px;
}
#footer span {
    font-weight: normal;
}
/* MENU */
#menu {
    background-image: url(https://wallpapers.com/images/featured/blue-color-background-9u7nhq72leu6xf5w.jpg);
}
.nav ul {
    font-size: 0px;
    background-color: #3e5cca;
    display: flex;
    justify-content: center;
}

.nav ul li a {
    display: inline-block;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
}
.home {
    background: white;
    color: black !important;
}

.icon {
    margin-left: 5px;
    margin-right: -5px;
}

.nav ul li a:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

#submenu {
    display: none;
    background: white;
    color: black;
}

#submenu li {
    border-bottom: 2px solid grey;
}

#submenu li a {
    color: black;
    padding: 20px 20px;
}

.dropdown:hover #submenu {
    display: block;
    position: absolute;
}
#item-list {
    border-top: 2px solid grey;
}
/* Form */
#register-body {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/22/15/29/blue-1273089_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-register {
    background: #fff;
    max-width: 350px;
    margin: 20px auto 0;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
}
#form-header {
    margin-top: 10px;
    text-align: center;
    display: block;
    font-size: 30px;
}
.form-group {
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
}

.img-profile {
    margin-top: 8px;
    width: 60px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.label-form {
    display: block;
    line-height: 15px;
    margin-top: 10px;
    font-weight: 500;
}
/* Button */
.btn {
    display: block;
    border-radius: 10px;
    border: 2px solid #000;
    margin: 10px auto;
    padding: 10px 20px;
    background: lightblue;
}
.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* Form */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"]
 {
    width: 100%;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 10px;
}

input:focus {
        background: rgb(217, 213, 213);
        outline:none;
}
