* {
    box-sizing: border-box;
}
body {
    background-color: grey;
}
/* Container */
.CV {
    width: 900px;
    height: 673px;
    background: white;
    margin: 20px auto 0px;
    overflow: hidden;
    padding: 30px 50px;
}
/* Header */
.header {
    text-align: center;
}
#CV-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
#page-title {
    text-align: left;
    margin-top: 18px;
    font-size: 14px;
    border-bottom: 2px solid black;
    padding: 3px;
    display: block;
    font-weight: bold;
}
/* Content */
p {
    font-size: 12px;
}
ul {
    list-style: disc;
    display: block;
    line-height: 15px;
    font-size: 12px;
}
h2 {
    margin-right: 4px;
}
::marker {
    font-size: 20px;
}
.content-title {
    display: flex;
    margin: 7px 0;
    font-weight: bold;
}
.date {
    margin-left: auto;
}
#company {
    margin-left: 4px;
}

/* Footer */
#education {
    border-bottom: 2px solid black;
    padding: 7px 0;
    margin-top: 7px;
    font-weight: bold;
}
#footer {
    font-weight: bold;
    margin-top: 8px;
    font-size: 12px;
}
#footer span {
    font-weight: normal;
}
